<!--
.. title: {{post.title}}
.. slug: {{post.slug}}
.. date: {{post.published}}
.. tags: {{post.tags}}
.. category:
.. link:
.. description:
.. type: text
.. author: {{post.author}}
-->

{{post.markdown}}
